* {
    padding: auto;
    margin: auto;
}

#cookie_orders {
    background: brown;
}

#cookie_orders h1 {
    font-family: "Rubik Moonrocks", sans-serif;
    font-size: 240px;
    color: pink;
    line-height: 169px;
}

#cookie_orders #btn {
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid 2px pink;
    border-radius: 5px;
    box-shadow: 2px;
    width: 150px;
    height: 30px;
  

}

#cookie_orders table{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: pink;
    margin-top: 100px;
}

#cookie_orders a {
    text-decoration: none;
    color: pink;
}

#cookie_orders th, td{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}



